
<div class="col-xs-3 sidebar">
<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 120, 120, format: 'jpeg', class: "user-image", fallback: "no_image.jpg", size: '120x120' %>
<table class="table user-info">
<tbody>
<tr>
<td>name</td>
<td><p class="user-name"><%= user.name %></p></td>
</tr>
<tr>
<td>introduction</td>
<td><p class="user-introduction"><%= user.introduction %></h3></td>
</tr>
</tbody>
</table>
  <% if user == current_user %>
    <p>
    <%= link_to edit_user_path(user), class: "btn btn-default btn-block" do%>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <% end %>
    </p>
  <% else %>
    <p><%= link_to user_path(current_user.id), class: "btn btn-default btn-block" do%>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <% end %></p>
  <% end %>

<h2>New book</h2>
<% if book.errors.any? %>
  <div id="error_explanation">
  <h3><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved</h3>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(book, url: books_path) do |f| %>
  <div class="new-book-field">
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div>
  <%= f.label :body, "Opinion" %>
    <%= f.text_area :body, class:"form-control" %>
  </div>
  </div>
  <div>
    <%= f.submit 'Create Book' ,class: "btn btn-info btn-block"%>
  </div>
<% end %>
</div>

